body {
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}
h1 {
  color: #78bcf9;
}
header {
  position: relative;
  left: 50%;
  width: 200px;
  margin-left: -100px;
  text-align: center;
}
header img {
  width: 200px;
  height: 200px;
}
.navbar {
  z-index: 2;
  background-color: rgba(255,255,255,0.8);
  border-radius: 0;
  margin: 0;
}
.navbar-brand {
  font-weight: 600;
}
.navbar li {
  padding: 5px 0;
}
.navbar li:hover {
  background-color: #78bcf9;
}
.navbar li:hover a {
  color: #fff;
}
.navbar-default .navbar-nav>li>a:hover {
  color: #fff;
}
@media (max-width: 768px) {
  header img {
    width: 140px;
    height: 140px;
  }
}
@media (min-width: 768px) {
  .navbar {
    width: 100%;
    border: none;
    margin: 0;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1.2em;
    text-align: center;
  }
  .navbar .navbar-nav {
    display: inline-block;
    float: none;
    vertical-align: top;
  }
  .navbar-brand {
    display: none;
  }
}
.carousel {
  z-index: 1;
}
