doctype html

html(lang='en')
    head
        meta(charset='utf-8')

        link(rel='stylesheet', href='css/main.css')
        link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css')

        script(src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.22.0/mapbox-gl.js')
        link(rel='stylesheet', href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.22.0/mapbox-gl.css')

        title vann.me

    body
        header
            a(href='index.html')
                h1 VANN.ME
            nav
                a(href='https://github.com/jaredvann', target='_blank')
                    i.fa.fa-github-square
                a(href='https://facebook.com/jaredvann', target='_blank')
                    i.fa.fa-facebook-square
                a(href='https://twitter.com/jared_vann', target='_blank')
                    i.fa.fa-twitter-square
                a(href='https://instagram.com/jrdvnn', target='_blank')
                    i.fa.fa-instagram
                a(href='maps.html')
                    i.fa.fa-map-marker


        block content
