/*@import url(http://fonts.googleapis.com/css?family=Montserrat+Subrayada:700);*/


@import url(http://fonts.googleapis.com/css?family=Raleway:100);
body{

    margin: 0;

    height: 100%;

    /*background-color: #EBEBEB;*/



}

h1{
    width: 100%;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    color: #333;
    margin-top: 0;
    font-size: 200px;

    font-weight: 100;
}

/*h1:hover {
    font-weight: 400;
    cursor: crosshair;
}*/

::selection {
    background: #777;
}

#div {
    text-align: center;
    opacity: 0.5;
}

#div2{

    padding-top: 15%;

    position: absolute;

    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    background:
    linear-gradient(
        limegreen,
        transparent
    ),
    linear-gradient(
        90deg,
        skyblue,
        transparent
    ),
    linear-gradient(
        -90deg,
        coral,
        transparent
    );

    background-blend-mode: screen;
}



.navbar{
    background-color: #666;

    border-radius: 0;
    margin: 0;

    color: white;

}

.navbar-brand{
    font-family: 'Raleway', sans-serif;
    color: white;
}
