@import url(http://fonts.googleapis.com/css?family=Amatic+SC:700);

body {
	font:14px/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;

	background: url(../images/bg.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}


h1 {
	color: white;
	font: 180px Amatic SC, serif;
	padding-bottom: 50px;
	letter-spacing: 40px;
}

/*h1:hover {
	color: #FFA126;
	cursor: pointer;
}*/

.navbar {
	background-color: rgba(0,0,0,0.5);
	border: none;
}

.navbar a {
	color: #FFA126;
}

/*.navbar a:hover {
	font-style: italic;
}*/

.navbar-brand {
	color: white;
	font: 28px Pacifico, serif;
	padding-top: 0;
	margin-top: -4px;
}

.btn {
	border: solid 1px #FFA126;
}

.btn:hover {
	color: white;
}

.container-fluid {
	padding-right: 20px;
}

.content {
	text-align: center;

	position: relative;
	width:100%;
	top:10px;
}




@media only screen and (max-device-width: 480px) {
	h1 {
		font: 48px Pacifico, serif;
	}
}